.EmojiPickerReact.epr-main {
  margin-top: -8px;
  margin-bottom: -8px;
}

div.Flex.epr-preview.FlexRow {
    display: none;
}

.color-panel .react-colorful__saturation {
  margin-bottom: 15px;
  border-radius: 5px;
  border-bottom: none;
}

.color-panel .react-colorful__hue,
.color-panel .react-colorful__alpha {
  height: 14px;
  border-radius: 5px;
}

.color-panel .react-colorful__hue-pointer,
.color-panel .react-colorful__alpha-pointer,
.color-panel .react-colorful__saturation-pointer {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
