aside.EmojiPickerReact.epr-main, 
.custom-layout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 8%);
}

div.Flex.epr-preview.FlexRow {
    display: none;
}

.custom-layout .react-colorful__saturation {
  margin: 15px 0;
  border-radius: 5px;
  border-bottom: none;
}

.custom-layout .react-colorful__hue {
  margin-bottom: 15px;
}

.custom-layout .react-colorful__hue,
.custom-layout .react-colorful__alpha {
  height: 14px;
  border-radius: 5px;
}

.custom-layout .react-colorful__hue-pointer,
.custom-layout .react-colorful__alpha-pointer,
.custom-layout .react-colorful__saturation-pointer {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.custom-layout {
  padding: 20px;
  background-color: rgb(40, 40, 40);
  border-radius: 20px;
  box-shadow:  0px 5px 10px rgb(15, 15, 15), -0px -5px 10px rgb(15, 15, 15);
}
